* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: #333;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-x: hidden;
    width: 100vw;
    z-index: 1;
}
html {
    overflow-anchor: none;
    font-size: 62.5%;
}

#navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
#navContainer li {
    display: inline;
    font-size: 2rem;
    font-weight: 500;
}
#navContainer a {
    color: white;
    text-decoration: none;
    transition: color 500ms;
}
#navContainer a:hover {
    cursor: pointer;
    color: #56a0d3;
}
#navContainer li .active {
    color: #56a0d3;
}
nav {
    width: 100vw;
    height: var(--navHeight);
    top: 0;
    display: flex;
    background-color: #292f36;
    color: white;
}

nav h1 {
    font-weight: 500;
    font-size: 48px;
    padding-left: 3px;
    
}
nav .logo {
    white-space: nowrap;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
}
nav li {
    height: 50px;
    
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;        
}
nav a:hover {
    color: #71affb;
}
nav ul.nav-links li a:hover, 

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #292f36;
    z-index: 999;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 50px;
    backdrop-filter: blur(10px);
}

/* Sidebar open state */
.sidebar.open {
    display: flex; /* Show when open */
    transform: translateX(0); /* Slide in */
}
.sidebar.open ~ .menu-button {
    display: none; /* Hide when sidebar is open */
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}


#projSect {
    text-align: center;
    max-width: 855px;
    margin: 0 auto;
}

.sectTitle {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 40px;
    display: inline-block; /* Ensure the title's width is based on its content */
    position: relative;
}



.project-title {
    font-size: 1.5em;
    margin: 16px 0 8px;
}


.project-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.sectTitle::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust as needed for vertical alignment */
    left: 50%;
    transform: translateX(-50%); /* Centers the line horizontally */
    width: 110%; /* Adjust to fit your design */
    height: 5px; /* Thickness of the line */
    background-color: #71affb; /* Line color */
}



.skillGroupTitle::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust as needed for vertical alignment */
    left: 50%;
    transform: translateX(-50%); /* Centers the line horizontally */
    width: 100%; /* Adjust to fit your design */
    height: 5px; /* Thickness of the line */
    background-color: #71affb; /* Line color */
}

/* Grid Layout */
.skillGroup {
    display: flex;
    flex-wrap: wrap; /* Allows the items to wrap onto the next line */
    justify-content: center; /* Center the items horizontally */
    gap: 20px; /* Space between the items */
    margin-bottom: 40px;
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #71affb;
    box-shadow: 0px 0px 5px #8a9096;
    background: #ffffff;
    padding: 10px;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 450px;
}

.skillBox img {
    width: 100%; /* Set to 100% to take full width of the box */
    height: auto; /* Maintain aspect ratio */
    max-width: 500px; /* Optional: Set a maximum width if needed */
}


.skillBox p {
    font-size: 1.4rem;
    margin-top: 8px;
}


@media only screen and (min-width: 921px) {
    :root {
        --navHeight: 72px;
    }
    body {
        font-size: 1.8rem;
        width: 100vw;
    }
    nav .menu-button {
        display: none !important; /* Force hide on larger screens */
    }

    nav h1 {
        font-size: 48px;
    }
}
/* Hide the tabs and display the menu button on small screens */
@media only screen and (max-width: 920px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block !important;
        margin-right: 15px;
    }
    .sidebar.open {
        display: flex; /* Show when open */
        transform: translateX(0); /* Slide in */
    }
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Makes the section fill the viewport height */
    background-color: var(--background);
}

.about-section .container {
    max-width: 800px; /* Set a max-width to constrain the content for better readability */
    text-align: center; /* Center the text */
}

.about-section p {
    font-size: 1.8rem; /* Adjust the font size for better readability */
    line-height: 1.6; /* Space between lines for readability */
    margin-bottom: 20px; /* Adds space between paragraphs */
    color: #333; /* Ensures text color is consistent */
}

.sectTitle {
    font-size: 4.5rem;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.sectTitle::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: #71affb;
}
.heroBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust padding for a box-like shape */
    background-color: #292f36;
    color: #ffffff;
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius for rounded corners */
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.heroBtn:hover {
    background-color: #56a0d3; /* Change background on hover */
}

.heroBtn:active {
    box-shadow: #1c2025 0 3px 7px inset;
}
.heroBtn img {
    height: 55%;
    margin-right: 15px;
}
#btn_group {
    display: flex; /* Use flexbox to layout buttons in a row */
    justify-content: left; /* Center the buttons */
    gap: 20px; /* Space between buttons */
    list-style: none; /* Remove bullet points */
    padding: 10px; /* Remove default padding */
    margin-bottom: 60px; /* Space below the button group */
}



header #btn_group li {
    float: left;
}
header #btn_group li:first-child {
    margin-right: 40px;
}
header #btn_group .heroBtn {

    width: auto;
}


/* Responsive styling */
@media only screen and (max-width: 920px) {
    .about-section .container {
        padding: 0 15px; /* Adjust padding for smaller screens */
    }
    .sectTitle {
        font-size: 3.5rem;
    }
    .about-section p {
        font-size: 1.6rem; /* Adjust font size on smaller screens */
    }
}
